@import "../base/colors";
@import "../base/reset";
@import "../helpers/mixins";
@import "../helpers/variables";

.experiences {
  grid-column: 2 / 3;
  background-color: $dark;
  padding: 40px 70px 40px 70px;
  align-items: center;
  color: $bright;
  margin-top: 600px;

  @include media("narrow") {
    display: block;
    width: 600px;
    padding: 0;
    margin-top: 800px;
  }
}

.box-timeline {
  width: 100%;
  height: 750px;
  position: relative;
  padding: 0px 0 50px 0;
}

.ligne {
  height: 840px;
  width: 1px;
  top: 100px;
  margin: 30px auto 0;
  background: $green;
  @include media("narrow") {
    top: 0;
    margin: 30px -150px;
  }
}

.rond {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $green;
  position: absolute;
  border: 1px solid #000;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  @include media("narrow") {
    left: calc(50% + -250px);
  }
}

.r1 {
  top: -5px;
}
.r2 {
  top: 215px;
}
.r3 {
  top: 435px;
}
.r4 {
  top: 655px;
}

.box {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.exp {
  width: 200px;
  height: auto;
  border: 0.5px solid $green;
  border-radius: 5px;
}

.b1 {
  top: 10px;
  left: calc(50% - 200px);
}
.b2 {
  top: 230px;
  left: calc(50% + 200px);
}
.b3 {
  top: 450px;
  left: calc(50% - 200px);
}
.b4 {
  top: 670px;
  left: calc(50% + 200px);
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  color: $green;
  text-decoration: none;
  margin-top: 10px;
}

.company-exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.leftside {
  width: 80%;
  height: auto;
  display: flex;
  justify-self: end;
  border: 2px solid $bright;
  border-right: 2px solid $bright;
}

.exp-description-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-size: $font-size-base;
  color: $bright;
  &:hover {
    .exp-title {
      font-style: bold;
      transform: scale(1.1);
    }
  }
}

.rightside {
  width: 80%;
  height: auto;
  border: 2px solid $bright;
}

.exp-description-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid $bright;
  text-align: right;
}

.exp-space {
  height: 5rem;
  width: 50%;
  border-right: 2px solid $bright;
}

@media screen and (max-width: 1000px) {
  .ligne {
    position: relative;
    left: 200px;
  }
  .rond {
    left: calc(50% + -250px);
  }
  .box {
    left: calc(50% - 50px);
  }
}

/* -----------------------------------------------------------------
      // Following is the modal box for experience details*/
/* Modal Content/Box */
/* Modal Content */
/* The Close Button */
/* Modal Header */
/* Modal Body */
/* Add Animation */

@keyframes "animatetop" 
  from {
  top: -300px;
  opacity: 0;
}
to {
  top: 0;
  opacity: 1;
}

.exp-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: $bright;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid $grey;
  width: 80%;
}

.exp-modal-content {
  position: relative;
  background-color: $bright;
  margin: auto;
  border: 1px solid $grey;
  width: 60%;
  left: 15%;
  border-radius: 10px;
  animation-name: animatetop;
  animation-duration: 0.5s;
    @include media("narrow") {
      left: 0;
      width: 80%;
    }
}

.exp-close {
  color: $green;
  font-size: $font-size-subtitle;
  font-weight: bold;
  display: flex;
  align-items: flex-end;

  &:hover {
    color: $brown;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    color: $brown;
    text-decoration: none;
    cursor: pointer;
  }
}

.exp-modal-header {
  padding: 8px 16px;
  background-color: $dark;
  color: $green;
  display: flex;
  justify-content: space-between;
}

.exp-modal-body {
  padding: 2px 16px;
  color: $dark;
}

img {
  height: 4rem;
  border-radius: 5px;
}

.exp-details {
  display: flex;
  flex-direction: row;

  a {
    padding-right: 2%;
    color: #000;
  }
}
