@import "../base/colors";
@import "../base/reset";
@import "../helpers/mixins";
@import "../helpers/variables";

.projects {
  grid-column: 2 / 3;
  background-color: $dark;
  padding: 40px 70px 40px 70px;

  @include media("narrow") {
    display: block;
    width: 550px;
    padding: 0;
  }
}

.projects p {
  @include media("narrow") {
    font-size: 12px;
  }
}

/*#project0 {*/
/*#project1 {*/
/*#project2 {*/
/*#project3 {*/

.project-container {
  position: relative;
  border: 2px solid $bright;
  width: 100%;
  height: 42vh;
}

.project-img {
  background-size: cover;
  width: 100%;
  height: 42vh;
}

#project0-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  height: 100%;
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $darkgreen;
  overflow: hidden;

    @include media('narrow'){
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
}

#project1-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  height: 100%;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: $pink;
  overflow: hidden;
    @include media('narrow'){
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
}

#project2-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  height: 100%;
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $purple;
  overflow: hidden;
    @include media('narrow'){
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
}

#project3-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  height: 90%;
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  background-color: $lightpink;
    @include media('narrow'){
      visibility: visible;
      opacity: 1;
      overflow: visible;
    }
}

.icon-png {
  height: 40px;
  width: 40px;
}
