@import "../base/colors";
@import "../base/reset";
@import "../helpers/mixins";
@import "../helpers/variables";

.skills {
  grid-column: 2 / 3;
  background-color: $dark;
  padding: 40px 70px 40px 70px;
  @include media("narrow") {
    display: block;
    width: 600px;
    padding: 0;
  }
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  position: relative;
  margin: 3rem 0;
  background: $green;
  box-shadow: $box-shadow;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
  }
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
  &:checked {
    + {
      .tab-label {
        background: $bright;
        color: $darkblue;
        border-bottom: 0;
        border-right: 0.125rem solid $bright;
        transition: all 0.35s;
        z-index: 1;
        top: -0.0625rem;
      }

      label {
        + {
          .tab-content {
            z-index: 2;
            opacity: 1;
            transition: all 0.35s;
          }
        }
      }
    }
  }
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: $green;
  box-shadow: $box-shadow;
  border-right: 0.125rem solid $border-tab-color;
  color: $dark;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;

  &:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
}

.tab-content {
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 40px 80px;
  background: $bright;
  color: $darkblue;
  border-bottom: 0.25rem solid $lightgrey;
  opacity: 0;
  transition: all 0.35s;
  width: auto;

  @include media("narrow") {
    width: 400px;
  }
}

.tab-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
    @include media("narrow") {
      width: 450px;
      justify-content: left;
    }
}

.skill-tab {
  width: fit-content;
  padding: 6px 15px 6px 15px;
  margin-bottom: 7px;
  margin-right: 7px;
  background-color: $lightgreen;
  box-shadow: $box-shadow;
  color: $color-highlight;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-n {
  visibility: hidden;

  &:hover {
    visibility: initial;
  }
}

.skills-tab {
  i {
    width: 50px;
  }
  img {
    height: 40px;
  }
}

.wrap {
  width: 500px;
  background: $bright;
  padding: 0px;
  border-radius: 30px;
  margin: 20px auto;
  box-shadow: $box-shadow;
  position: relative;
}

.professional-behaviors {
  padding-top: 50px;
}

.progress-bar {
  display: flex;
  flex-direction: row;

  @include media("narrow") {
    width: 450px;
  }
}

.progress {
  width: 81%;
  height: 25px;
  border-radius: 50px 5px 5px 50px;
  background-color: $lightgreen;
  position: relative;
  box-shadow: $box-shadow;
  cursor: pointer;
  margin: 0 0px;

  @include media("narrow") {
    span {
      font-size: 12px;
    }
  }
}

.progress_2 {
  width: 68%;
  height: 25px;
  border-radius: 50px 5px 5px 50px;
  position: relative;
  background-color: $lightgreen;
  box-shadow: $box-shadow;
  cursor: pointer;
  margin: 0 0px;

  @include media("narrow") {
    span {
      font-size: 12px;
    }
  }
}

.progress_3 {
  width: 74%;
  height: 25px;
  border-radius: 50px 5px 5px 50px;
  background-color: $lightgreen;
  position: relative;
  box-shadow: $box-shadow;
  cursor: pointer;
  margin: 0 0px;

  @include media("narrow") {
    span {
      font-size: 12px;
    }
  }
}

.percentage {
  margin-top: 20px;
  margin-left: 40px;
}
