@import "../helpers/mixins";

body {
  font-family: "Roboto Mono", monospace;
  margin: 0 50px;
  padding: 0;
  background-color: $dark;
  @include media("narrow") {
    
  }
}

.main {
  @include grid("grid-template-columns", "repeat(3, auto)");
  grid-gap: 30px;
  background-color: $dark;

  @include media("narrow") {
    display: block;
    background-color: $dark;
  }
}
