@import "../helpers/mixins";

body {
    font-family: "Roboto Mono", monospace;
    margin: 50px;
    padding: 0;
    background-color: $dark;
  }

  .main {
    @include grid('grid-template-columns', 'repeat(3, auto)');
    grid-gap: 30px;
  }
  